In [6]:
#setup and imports
import pandas as pd

In [7]:
#file to read from
file = "Resources/purchase_data.csv"

#read the files

heros_df = pd.read_csv(file)

In [8]:
#read first 5 lines of file
heros_df.head()
# heros_df.columns

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [9]:
#extract the columns to be used
# heroheaders_df = heros_df[['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']]

In [11]:
#find the total # of players.  Will need to find unique values since they could be on the list multiple times
heros_df.SN.nunique()
# total_df = pd.DataFrame({"Total Players":total})
# total_df

576

In [12]:
# Run basic calculations to obtain number of unique items, average price, etc.
unique_items = (heros_df['Item ID'].nunique())
average_price = (heros_df['Price'].mean())
total_purchases = (heros_df['Purchase ID'].count())
revenue = (heros_df['Price'].sum())
# Create a summary data frame to hold the results
summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],
      "Average Price":average_price,
      "Number of Purchases":total_purchases,
      "Total Revenue":revenue})
# Optional: give the displayed data cleaner formatting

# Display the summary data frame
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [13]:
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

gender_count = heros_df["Gender"].value_counts() #counts are wrong. Need to find UNIQUE players
gender_percentage = heros_df["Gender"].value_counts("%")*100

gender_df = pd.DataFrame({"Total Count":gender_count,
      "Percentage of Players":gender_percentage})
gender_df

                       Total Count  Percentage of Players
Male                           652              83.589744
Female                         113              14.487179
Other / Non-Disclosed           15               1.923077

In [14]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
grouped_df = heros_df.groupby(["Gender"])
grouped_df.head()

purchase_count = grouped_df['Purchase ID'].count()
average_price = grouped_df['Price'].mean()
total_purchases = grouped_df['Price'].sum()
avg_tot_purchase = total_purchases/purchase_count


# Create a summary data frame to hold the results
gender_summary_df = pd.DataFrame({"Purchase Count":purchase_count,
      "Average Purchase Price":average_price,
      "Total Purchase Value":total_purchases,
      "Avg Total Purchase":avg_tot_purchase                            
      })
# Optional: give the displayed data cleaner formatting


# Display the summary data frame
gender_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

In [36]:
# Establish bins for ages
# print(heros_df.Age.max())
# print(heros_df.Age.min())
bins = [0, 10, 14, 19, 24, 29, 34, 39, 40]
group_names = ["<10","11-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Categorize the existing players using the age bins. Hint: use pd.cut()
heros_df["Age Group"] = pd.cut(heros_df["Age"], bins, labels=group_names, include_lowest = True)

# Calculate the numbers and percentages by age group
age_group = heros_df["Age Group"].value_counts()
age_percentage= heros_df["Age Group"].value_counts("%") * 100

# Create a summary data frame to hold the results
age_group_df = pd.DataFrame({"Total Count":age_group,
      "Percentage of Players":age_percentage})      
age_group_df.sort_values(age_group_df.columns[0])
# df.sort_values(by=['sort','A','B'],inplace=True)

# Optional: round the percentage column to two decimal points


# Display Age Demographics Table

       Total Count  Percentage of Players
40+              6               0.776197
11-14           19               2.457956
<10             32               4.139715
35-39           41               5.304010
30-34           73               9.443726
25-29          101              13.065977
15-19          136              17.593790
20-24          365              47.218629

In [37]:
# Bin the purchase_data data frame by age
group_age_df = heros_df.groupby(["Age Group"])


# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
purchase_count = group_age_df['Purchase ID'].count()
average_price = group_age_df['Price'].mean()
total_purchases = group_age_df['Price'].sum()
avg_tot_purchase = total_purchases/purchase_count


# Create a summary data frame to hold the results
age_summary_df = pd.DataFrame({"Purchase Count":purchase_count,
      "Average Purchase Price":average_price,
      "Total Purchase Value":total_purchases,
      "Avg Total Purchase":avg_tot_purchase                            
      })

# Optional: give the displayed data cleaner formatting


# Display the summary data frame
age_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase
Age Group,,,,
<10,32,3.405000,108.96,3.405000
11-14,19,2.681579,50.95,2.681579
15-19,136,3.035956,412.89,3.035956
20-24,365,3.052219,1114.06,3.052219
25-29,101,2.900990,293.00,2.900990
30-34,73,2.931507,214.00,2.931507
35-39,41,3.601707,147.67,3.601707
40+,6,2.785000,16.71,2.785000

In [48]:
# Run basic calculations to obtain the results in the table below
top_spender_df = heros_df.groupby(["SN"])


purchase_count = top_spender_df['Purchase ID'].count()
average_price = top_spender_df['Price'].mean()
total_purchases = top_spender_df['Price'].sum()

# Create a summary data frame to hold the results
top_spender_summary_df = pd.DataFrame({"Purchase Count":purchase_count,
      "Average Purchase Price":average_price,
      "Total Purchase Value":total_purchases,})


# Sort the total purchase value column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

top_spender_summary_df.sort_values("Total Purchase Value", ascending = False).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [63]:
# Retrieve the Item ID, Item Name, and Item Price columns
popular_item_df = heros_df.groupby(["Item ID","Item Name"])


purchase_count = popular_item_df['Purchase ID'].count()
price = popular_item_df['Price'].mean()
total_purchases = popular_item_df['Price'].sum()


# Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


# Create a summary data frame to hold the results
popular_item_df = pd.DataFrame({"Purchase Count":purchase_count,
      "Item Price":price,
      "Total Purchase Value":total_purchases,})

# Sort the purchase count column in descending order


# Optional: give the displayed data cleaner formatting


# Display a preview of the summary data frame
popular_item_df.sort_values("Purchase Count", ascending = False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

In [64]:
# Sort the above table by total purchase value in descending order
popular_item_df.sort_values("Total Purchase Value", ascending = False).head()

# Optional: give the displayed data cleaner formatting


# Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80