In [1]:
#setup and imports
import pandas as pd

In [2]:
#file to read from
file = "Resources/purchase_data.csv"

#read the files

heros_df = pd.read_csv(file)

In [3]:
#read first 5 lines of file
heros_df.head()
# heros_df.columns

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#extract the columns to be used
# heroheaders_df = heros_df[['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']]

In [20]:
#find the total # of players.  Will need to find unique values since they could be on the list multiple times
heros_df.SN.nunique()

576

In [6]:
# Run basic calculations to obtain number of unique items, average price, etc.
unique_items = (heros_df['Item ID'].nunique())
average_price = (heros_df['Price'].mean())
total_purchases = (heros_df['Purchase ID'].count())
revenue = (heros_df['Price'].sum())
# Create a summary data frame to hold the results
summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],
      "Average Price":average_price,
      "Number of Purchases":total_purchases,
      "Total Revenue":revenue})
# Optional: give the displayed data cleaner formatting

# Display the summary data frame
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [36]:
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

gender_count = heros_df["Gender"].value_counts() #counts are wrong. Need to find UNIQUE players
gender_percentage = heros_df["Gender"].value_counts("%")*100

gender_df = pd.DataFrame({"Total Count":gender_count,
      "Percentage of Players":gender_percentage})
gender_df

                       Total Count  Percentage of Players
Male                           652              83.589744
Female                         113              14.487179
Other / Non-Disclosed           15               1.923077

In [48]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
grouped_df = heros_df.groupby(["Gender"])
grouped_df.head()

purchase_count = grouped_df['Purchase ID'].count()
average_price = grouped_df['Price'].mean()
total_purchases = grouped_df['Price'].sum()
avg_tot_purchase = total_purchases/purchase_count


# Create a summary data frame to hold the results
gender_summary_df = pd.DataFrame({"Purchase Count":purchase_count,
      "Average Purchase Price":average_price,
      "Total Purchase Value":total_purchases,
      "Avg Total Purchase":avg_tot_purchase                            
      })
# Optional: give the displayed data cleaner formatting


# Display the summary data frame
gender_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

In [9]:
# Establish bins for ages


# Categorize the existing players using the age bins. Hint: use pd.cut()


# Calculate the numbers and percentages by age group


# Create a summary data frame to hold the results


# Optional: round the percentage column to two decimal points


# Display Age Demographics Table

In [10]:
# Bin the purchase_data data frame by age


# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


# Create a summary data frame to hold the results


# Optional: give the displayed data cleaner formatting


# Display the summary data frame

In [11]:
# Run basic calculations to obtain the results in the table below


# Create a summary data frame to hold the results


# Sort the total purchase value column in descending order


# Optional: give the displayed data cleaner formatting


# Display a preview of the summary data frame

In [12]:
# Retrieve the Item ID, Item Name, and Item Price columns


# Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


# Create a summary data frame to hold the results


# Sort the purchase count column in descending order


# Optional: give the displayed data cleaner formatting


# Display a preview of the summary data frame

In [13]:
# Sort the above table by total purchase value in descending order


# Optional: give the displayed data cleaner formatting


# Display a preview of the data frame